/*
cores
dourada #C4AC4B
cinza calro#F5F5F5
cinza escuro #313131

fontes
font-family: 'Forum', cursive; para os titulos 

font-family: 'Source Sans Pro', sans-serif; para textos

*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F5;
    
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #313131;
    margin-top: 1px;
}


.logo h1 {
    font-family: 'Forum', cursive;
    font-size: 45px;
    text-align: center;
    background-color: #313131;
    color: #C4AC4B;
    font-weight: normal;
    text-transform: uppercase;
    
}

.logo h5{
    font-family: 'Forum', cursive;
    font-size: 12px;
    text-align: center;
    background-color: #313131;
    color: #C4AC4B;
    font-weight: normal;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: start;


}

.menu-itens {
    background-color: black;
    color: #F5F5F5;
    margin-left: 50px;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    
}

.section1_texto h1 {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 50px;
    text-transform: uppercase;
    line-height: 50px;    
    margin-bottom: 30px;
    margin-left: 20px;
    
}

.section1_texto h3 {
    font-weight: normal;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.botao-section1{
    display: inline-block;
    background-color: #313131;
    color: #F5F5F5;
    padding: 15px 60px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 100px;
    cursor: pointer;
}

.botao-section1:hover{
    background-color: #F5F5F5;
    color: #C4AC4B;
    transition: 0.2s;
}
.imagem_section1 img {
    width: 600px;
    height: 450px;
    margin-top: 30px;
    border-radius: 3px;
    margin-right: 20px;
}